
.brush-colors
    width: 40px
    height: 40px
    border: 2px solid #c9c9c9
    float: left
    margin-right: 0.5rem
    cursor: pointer

.brush-sizes
    float: left
    margin-right: 0.8rem
    cursor: pointer
    background-color: #000

.brush-types
    width: 30px
    height: 30px
    float: left
    margin-right: 0.5rem
    cursor: pointer
    background-color: #000

h1.drawing-title-single
    font-family: 'Oswald', sans-serif
    font-size: 1.5rem
    font-weight: bold
    color: red
    width: 60%
    float: left

h1.drawing-title-create
    font-family: 'Oswald', sans-serif
    font-size: 1.5rem
    font-weight: bold
    color: red
    width: 40%
    float: left

.create-drawing-save-section
    width: 50%
    margin-top: 0

.form-wrapper-save-section
    float: right

.drawing-name-input
    width: 75% !important

.drawing-section-header
    background-color: #919ea9

.drawing-section:first-child
    border-left: 1px solid #e4d7d7

.eraser-wrapper
    width: auto
    display: block

.brush-eraser
    font-size: 2.2rem
    cursor: pointer

.drawing-title
    font-size: 1.2rem
    font-weight: bold

/* smartphones, portrait iPhone, portrait 480x320 phones(Android) */
@media (min-width: 320px)
    .drawing-section
        border-top: 1px solid #e4d7d7
        border-right: 1px solid #e4d7d7
        border-left: 1px solid #e4d7d7
        border-bottom: 1px solid #e4d7d7

    .content
        width: 80% !important
        margin-left: 5rem

    .canvas-drawing
        width: 60%

    .create-drawing-save-section
        width: 100%
        margin-top: 1rem
        float: left !important

    .form-wrapper-save-section
        float: left

/* portrait tablets, portrait iPad, e-readers (Nokia/Kindle), landscape 800x480 hones (Android) */
@media (min-width: 600px)
    .drawing-section
        border-top: 1px solid #e4d7d7
        border-right: 1px solid #e4d7d7
        border-left: 1px solid #e4d7d7d7
        border-bottom: 1px solid #e4d7d7

    .content
        width: 80% !important
        margin-left: 6rem

    .canvas-drawing
        width: 60%

    .create-drawing-save-section
        margin-top: 1rem
        width: 100%

    .form-wrapper-save-section
        float: left

/* tablet, landscape iPad, lo-res laptios and desktops */
@media (min-width: 801px)
    .drawing-section
        border-top: 1px solid #e4d7d7
        border-right: 1px solid #e4d7d7
        border-left: 1px solid #e4d7d7
        border-bottom: 1px solid #e4d7d7

    .content
        width: 80% !important
        margin-left: 6rem

    .canvas-drawing
        width: 60%

    .create-drawing-save-section
        margin-top: 1rem
        width: 100%

    .form-wrapper-save-section
        float: left

/* desktops */
@media (min-width: 1025px)
    .drawing-section
        border-top: 1px solid #e4d7d7
        border-right: 1px solid #e4d7d7
        border-bottom: 1px solid #e4d7d7
        border-left: 0

    .content
        width: 80% !important
        margin-left: 8rem

    .canvas-drawing
        width: 60%

    .create-drawing-save-section
        margin-top: 0
        width: 100%

    .form-wrapper-save-section
        float: right

/* large desktops */
@media (min-width: 1281px)
    .drawing-section
        border-top: 1px solid #e4d7d7
        border-right: 1px solid #e4d7d7
        border-bottom: 1px solid #e4d7d7
        border-left: 0

    .create-drawing-save-section
        margin-top: 0
        width: 50%

    .form-wrapper-save-section
        float: right
